*-main.js
node_modules/
babel.config.js
nodesource_setup.sh
package-lock.json
package.json
*-main.py
main.py
*pycache*
venv/
.db_User.json
a.db
names.sql
!unittests_in_js/package.json
!unittests_in_js/8-api/package.json
!unittests_in_js/9-api/package.json
